.contact {
    padding: 50px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
textarea {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    max-width: 500px;
}

button {
    padding: 10px 20px;
    background-color: #fff;
    color: #061b28;
    border: none;
    cursor: pointer;
}